/* Media Query Mobiles */
@media (min-width: 320px) and (max-width: 480px) {
    /* Tipografia */
    .titulo, .subtitulo {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        color: var(--cor-principal); /* Cor de Destaque */
        margin: 10px;
    }

    .titulo {
        font-weight: bold;
        text-shadow: 0 0 5px var(--cor-principal);
    }
    
    /* Header */
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        text-align: center;
        background-color: var(--cor-secundaria);
    }

    .mobile-menu-toggle {
     display: block;
    }
    .main-nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

        /* Layout vertical */
        flex-direction: column;
        background-color: var(--cor-principal);

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.75s ease-in-out;
    }

    /* Estilos dos links no mobile */
    .main-nav .nav-link {
        padding: 15px 20px;
        text-align: center;
        width: 100%;
        color: var(-cor-texto-claro);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .main-nav.active {
        max-height: 400px;
    }

    /* Sobre Mim */
    .sobre-mim {
        display: flex;
        flex-direction: column; /* Em telas pequenas, a imagem fica em cima do texto */
        text-align: center;
        margin-top: 130px;
    }
    .visualg {
        margin-bottom: 20px;
    }
    .texto-sobre {
        text-align: justify; /* Mantém o texto justificado ou alinhado à esquerda */
    }

    /* Habilidades */
    .icones-grid {
        grid-template-columns: repeat(2, minmax(60px, 1fr));
    }
    .stack-item {
        font-size: 40px;
    }

    /* Projetos */
    .botoes-projeto {
        flex-direction: column;
    }
    .container-projetos {
        grid-template-columns: repeat(1, 1fr)
    }

    /* Chamada de ação */
    .cta-botoes {
        flex-direction: column;
        align-items: center;
    }

    .btn-cta {
        width: 80vw;
    }

    /* Roda pé */
    .main-footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    /* Botão TOPO */
    .btnTopo {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

/* Media Query Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* Header */
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px; 
    }

    /* Escondendo o menu hamburgue */
    .mobile-menu-toggle {
        display: none;
    }

    .main-nav {
       position: static;
       max-height: none;
       overflow: visible;
       flex-direction: row;
       background-color: transparent;
       margin-top: 0;
       gap: 15px;
    }

    .main-nav .nav-link {
        border-bottom: none;
        padding: 5px 0;
    }
    
    /* Sobre Mim */
    .sobre-mim {
        flex-direction: column; /* Em telas pequenas, a imagem fica em cima do texto */
        text-align: center;
        margin-top: 130px;
    }
    .visualg {
        margin-bottom: 20px;
    }
    .texto-sobre {
        text-align: left; /* Mantém o texto justificado ou alinhado à esquerda */
    }

    /* Habilidades */
    .icones-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .stack-item {
        font-size: 35px;
    }

    /* Projetos */
    .container-projetos {
        display: grid;
        grid-template-columns: none;
    }
    
    /* Chamada de ação */
    .cta-botoes {
        flex-direction: column;
        align-items: center;
    }
    .btn-cta {
        width: 80%;
    }

    /* Botão TOPO */
    .btnTopo {
        bottom: 25px;
        right: 25px;
        width: 45px;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
    }
    
}
/* Media Query Desktop */
@media (min-width: 1025) and (max-width: 1440px) {
    .icones-grid {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: 30px;
        font-size: 80px;
    }
    .stack-item {
        font-size: 70px;
    }

        /* Botão TOPO */
    .btnTopo {
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
    }

}