/* Media Query Mobiles */
@media (min-width: 320px) and (max-width: 480px) {
    /* Tipografia */
    .titulo, .subtitulo {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        color: var(--cor-principal); /* Cor de Destaque */
        margin: 10px;
    }

    .titulo {
        font-weight: bold;
        text-shadow: 0 0 5px var(--cor-principal);
    }
    
    /* Header */
    .main-header {
        flex-direction: column;
        padding: 5px 10px;
        text-align: center;
    }
    .main-nav {
        margin-top: 5px;
        gap: 5px;
    }

    /* Sobre Mim */
    .sobre-mim {
        display: flex;
        flex-direction: column; /* Em telas pequenas, a imagem fica em cima do texto */
        text-align: center;
        margin-top: 130px;
    }
    .visualg {
        margin-bottom: 20px;
    }
    .texto-sobre {
        text-align: justify; /* Mantém o texto justificado ou alinhado à esquerda */
    }

    /* Habilidades */
    .icones-grid {
        grid-template-columns: repeat(2, minmax(60px, 1fr));
    }
    .stack-item {
        font-size: 40px;
    }

    /* Projetos */
    .botoes-projeto {
        flex-direction: column;
    }
    .container-projetos {
        grid-template-columns: repeat(1, 1fr)
    }

    /* Chamada de ação */
    .cta-botoes {
        flex-direction: column;
        align-items: center;
    }

    .btn-cta {
        width: 80vw;
    }

    /* Roda pé */
    .main-footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

/* Media Query Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* Header */
    .main-header {
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
    }
    .main-nav {
        margin-top: 10px;
        gap: 15px;
    }
    
    /* Sobre Mim */
    .sobre-mim {
        flex-direction: column; /* Em telas pequenas, a imagem fica em cima do texto */
        text-align: center;
        margin-top: 130px;
    }
    .visualg {
        margin-bottom: 20px;
    }
    .texto-sobre {
        text-align: left; /* Mantém o texto justificado ou alinhado à esquerda */
    }

    /* Habilidades */
    .icones-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .stack-item {
        font-size: 35px;
    }

    /* Projetos */
    .container-projetos {
        display: grid;
        grid-template-columns: none;
    }
    
    /* Chamada de ação */
    .cta-botoes {
        flex-direction: column;
        align-items: center;
    }
    .btn-cta {
        width: 80%;
    }
    
}
/* Media Query Desktop */
@media (min-width: 1025) and (max-width: 1440px) {
    .icones-grid {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: 30px;
        font-size: 80px;
    }
    .stack-item {
        font-size: 70px;
    }

}