/* PROJETOS */
.projetos {
    margin: 36px;
    background-color: var(--cor-fundo); /*Cor de fundo claro para destacar os projetos*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-projetos {
    display: grid;
    /* Telas grandes: 3 colunas */
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

.projeto {
    background-color: var(--cor-texto-claro);
    padding: 25px;
    /* Borda sutil para parecer um bloco de nota */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra mais suave */
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

/* Animação no hover (Elevação sutil) */
.projeto:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

.projeto h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--cor-principal);
    margin-top: 0;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 0.95em;
    color: #555;
    min-height: 80px;
}

/* Estilo para as tags de ferramentas */
.ferramentas {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ferramenta-tag {
    margin: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 4px;
    color: var(--cor-texto-claro);
}

/* Cores específicas para as tags */
.html-tag { background-color: #E44D26; }
.css-tag { background-color: #1572B6; }
.js-tag { background-color: #F7DF1E; color: #333333; }
.python-tag { background-color: #306998; }
.sql-tag { background-color: #00758F; }
.ui-ux-tag { background-color: #008B8B; }
.java-tag { background-color: #7c3800;}

/* Container para alinhar os dois botões */
.botoes-projeto {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.btn-projeto {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    white-space: nowrap; 
}


.btn-demo {
    background-color: var(--cor-principal); 
    color: var(--cor-texto-claro);
    border: 1px solid var(--cor-principal);
}

.btn-demo:hover {
    background-color: var(--cor-secundaria); 
    border-color: var(--cor-secundaria);
}


.btn-codigo {
    background-color: var(--cor-texto-claro);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

.btn-codigo:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
}

.btn-ver-projeto {
    display: block;
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-ver-projeto:hover {
    background-color: var(--cor-principal);
}

.projeto-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
}

.projeto-extra h3 {
    color: var(--cor-principal);
}

.projeto-extra p {
    color: var(--cor-fundo);
}

.projeto-extra .btn-github-full {
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
}

.projeto-extra .btn-github-full:hover {
    background-color: var(--cor-hover);
}



/* Fim Projetos */