.timeline-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-item-svg {
    max-width: 70%;
    max-height: 80%;
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--cor-principal);
    transition: all 0.3s ease-in-out;
}

.timeline-item-svg:hover {
    box-shadow: 0 0 10px var(--cor-secundaria);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}